<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>红领巾</title>
        <link rel="shortcut icon" href="https://www.woshihlj.com/img/small_icon.png">
        <link href="https://www.woshihlj.com/css/bootstrap.css" rel="stylesheet" media="screen">	
        <link href="https://www.woshihlj.com/css/headerStyle.css" rel="stylesheet" media="screen">
        <link href="https://www.woshihlj.com/css/mainPage.css" rel="stylesheet" media="screen">        

        <script src="https://www.woshihlj.com/js/jquery-2.1.3.min.js" type="text/javascript"></script>
        <script src="https://www.woshihlj.com/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://www.woshihlj.com/js/JavaScript.js" type="text/javascript"></script>
        <script src="https://www.woshihlj.com/js/validata.js" type="text/javascript"></script> 
         
        <style>
            .resource-button-color {
                background-color: #93BDEE
            }

            .login-button-color {
                background-color: #FF7345
            }

            .login-button-layout {
                margin-left: 4px;
            }
        
            /* text-center post button */

            .phone-post-button {
                float: right;
            }

            @media (max-width: 460px) {
                .phone-post-button {
                    width: 100%;
                    text-align: center;
                    float: none;
                }
            }


        </style>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122025311-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-122025311-1');

            function changeSendStatus(i){
                var id = "submitButton" + i;
                var btnSubmitSendStatus = document.getElementById(id);
                btnSubmitSendStatus.value="已发送";
                btnSubmitSendStatus.style.background = "#cc7a00";            
            }
                
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse theme-backcolor">
            <div class="container comp" style="padding-right: 2px;">   
                <div class="container-fluid" style="margin: 0px 0px 0px -8px">                   
                    <div class="navbar-header padding-zero-logo" style='margin:0px;'>
                        <a class="navbar-brand titleFont padding-zero-logo" href="https://www.woshihlj.com/"><img class='logo1 logo-color' src='https://www.woshihlj.com/img/logo1.png' alt = "我是红领巾"></a>
                        <a class="navbar-brand titleFont padding-zero-logo" href="https://www.woshihlj.com/"><img class='logo2 logo-color1' src='https://www.woshihlj.com/img/logo2.png' alt = "我是红领巾"></a>
                        <a class="navbar-brand titleFont padding-zero-logo" href="https://www.woshihlj.com/"><img class='logo3 logo-color' src='https://www.woshihlj.com/img/logo3.png' alt = "我是红领巾"></a>
                    </div>
                    <div>
        
                        <ul class="nav navbar-nav navbar-right">
                            <li class='navElementPosition'>
                                <table>
                                    <tr>
                                        <td class='hidden-slogon'>
                                            <img class='slogon' src='https://www.woshihlj.com/img/slogon.png' alt = "slogon">
                                        </td>
                                        <td>
                                            <a class='big-font' href='https://www.woshihlj.com/index.php'><button type='button' class='btn btn-float theme-button resource-button-color text-color text-margin-top'>返回红领巾</button></a>
                                        </td>
                                    </tr>
                                </table>      
                            </li>                                          				
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container phone" style="padding-right: 0px; padding-left: 0px; margin-left: 10px;">   
                <div class="container-fluid" style="padding: 0">                   
                    <div class="navbar-header padding-zero-logo" style='margin:0px;'>                          
                        <a class="navbar-brand titleFont padding-zero-logo" href="https://www.woshihlj.com/"><img class='phonelogo1 logo-color' src='https://www.woshihlj.com/img/logo1.png' alt = "我是红领巾"></a>
                        <a class="navbar-brand titleFont padding-zero-logo" href="https://www.woshihlj.com/"><img class='phonelogo2 logo-color1' src='https://www.woshihlj.com/img/logo2.png' alt = "我是红领巾"></a>
                        <a class="navbar-brand titleFont padding-zero-logo" href="https://www.woshihlj.com/"><img class='phonelogo3 logo-color' src='https://www.woshihlj.com/img/logo3.png' alt = "我是红领巾"></a>
                                           
                            <div class='dropdown'>
                                <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNavbar'>
                                    <span class='icon-bar'></span>
                                    <span class='icon-bar'></span>
                                    <span class='icon-bar'></span>                        
                                </button>
                            </div>

                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">       
                        <ul class="nav navbar-nav navbar-right">
                        <li class='navElementPosition'>
                            <table>
                                <tr>
                                    <td class='hidden-slogon'>
                                        <img class='slogon' src='https://www.woshihlj.com/img/slogon.png' alt = "slogon">
                                    </td>
                                </tr>
                            </table>      
                        </li>                      
                            <li><a class='big-font' href='https://www.woshihlj.com/'>返回红领巾</a></li>              				
                        </ul>
                    </div>
                </div>
            </div>

        </nav>


        <form action="http://www.woshihlj.com:8080/shareMaterialsNodejs/view" method="post">
            <div class="row text-center margin-top-m text-margin-bottom-comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><input type='text' class='form-control' placeholder='搜索根据邮箱' name='keyWordsEmailf' id='keyWordsEmailf' value=''></div>
                <div class="col-sm-2">
                    <button class='btn theme-button site-btn' type='submit' name='serachInfoButton' onclick='saveInfo()'>搜索</button>
                </div>    
            </div>
        </form>

        <div class="container"> 
            <table style="border: 1px solid black;text-align:center;">
                <tr style="border: 1px solid black;text-align:center;">
                    <th style="border: 1px solid black;width:23%;text-align:center;">邮箱</th>
                    <th style="border: 1px solid black;width:23%;text-align:center;">群昵称</th> 
                    <th style="border: 1px solid black;width:5%;text-align:center;">申请次数</th>
                    <th style="border: 1px solid black;width:5%;text-align:center;">分享次数</th> 
                    <th style="border: 1px solid black;width:10%;text-align:center;">学校</th>
                    <th style="border: 1px solid black;width:15%;text-align:center;">课号</th>
                    <th style="border: 1px solid black;width:5%;text-align:center;">是否发送</th> 
                </tr>
                <% for(var i=0; i < resultSelect.length; i++){ %>  
                <form action="http://www.woshihlj.com:8080/shareMaterialsNodejs/view" method="post">

                    <tr style="border: 1px solid black;text-align:center;">
                        <td><input type="hidden" name="MateriaDetailIDf" value= <%= resultSelect[i].MateriaDetailID %> ></td> 
                    </tr>
                    <tr style="border: 1px solid black;text-align:center;"> 
                        <td style="border: 1px solid black;text-align:center;"><%= resultSelect[i].userGmail %></td>
                        <td style="border: 1px solid black;text-align:center;"><%= resultSelect[i].groupNickName %></td>
                        <td style="border: 1px solid black;text-align:center;"><%= resultSelect[i].applyTimes %></td>
                        <td style="border: 1px solid black;text-align:center;"><%= resultSelect[i].shareTimies %></td>
                        <td style="border: 1px solid black;text-align:center;"><%= resultSelect[i].school %></td>
                        <td style="border: 1px solid black;text-align:center;"><%= resultSelect[i].applyCourseNumber %></td>
                        <td style="border: 1px solid black;text-align:center;"><input type='submit' id='submitButton<%= i %>' class='btn button-upload-post-button' value='未发送' onclick='changeSendStatus("<%= i %>")'/></td>
                    </tr>
                </form>
                <% } %>

            </table>

        </div>
    </body>
</html>
